*~

/build*/
/install*/
/dist/
/wheelhouse/
/local/
.vscode/
.gdb_history
dlite.egg-info

# Ignore personal modified bootstrap files
/bootstrap-win-*.sh

# For Visual Studio
/.vs
/CMakeSettings.json

# For qtcreator
/CMakeLists.txt.user

# A convenient directory to place temporary stuff
old

# For connecting to a mongodb atlas instance
mongodb-atlas_credentials.txt
