*~

external
build*
local
jansson
hdf5-1.10.*
.vscode
.gdb_history

# Ignore personal modified bootstrap files
bootstrap-win-*.sh

# For Visual Studio
.vs
CMakeSettings.json

# For qtcreator
CMakeLists.txt.user

# A convenient directory to place temporary stuff
old
