*~

/build*/
/install*/
/dist/
/wheelhouse/
/local/
.gdb_history
dlite.egg-info

# Ignore Python Files
/.venv
/venv
*.pyc

# Ignore personal modified bootstrap files
/bootstrap-win-*.sh

# For Visual Studio
/.vs
/CMakeSettings.json

# For VS Code
/.vscode
*.code-workspace

# For CTest
/Testing/*

# For qtcreator
/CMakeLists.txt.user

# A convenient directory to place temporary stuff
old

# For connecting to a mongodb atlas instance
mongodb-atlas_credentials.txt
