importlib-metadata==4.13.0; python_version<'3.8'
beautifulsoup4>=4.11.1
lxml>=4.7.1

Sphinx>5.0,<6
sphinx-autoapi
#sphinx-autoapi~=2.0
sphinx-autobuild~=2021.3.14
sphinx-book-theme~=1.0.1
sphinx-design~=0.3.0
sphinxcontrib-plantuml~=0.26
#sphinx-toggleprompt~=0.5.2
#sphinx-toggleprompt~=0.4.0
sphinx-copybutton~=0.5.1  # does not work well with toggleprompt

breathe>=4.34.0
myst-nb~=0.17.1
nbclient>=0.2,<0.10
docutils>=0.14,<0.21



#Sphinx
#sphinx-autoapi
#sphinx-autobuild
#sphinx-book-theme
#sphinx-design
#sphinxcontrib-plantuml
##sphinx-toggleprompt~=0.5.2
#sphinx-copybutton
#
#breathe
#myst-nb
#nbclient>=0.2,<0.10
#docutils>=0.14,<0.21


#Sphinx==7.2.6
#sphinx-autoapi==3.0.0
#sphinx-autobuild==2021.3.14
#sphinx-book-theme==1.1.0
#sphinx-copybutton==0.5.2
#sphinx_design==0.5.0
#sphinxcontrib-applehelp==1.0.8
#sphinxcontrib-devhelp==1.0.6
#sphinxcontrib-htmlhelp==2.0.5
#sphinxcontrib-jsmath==1.0.1
#sphinxcontrib-plantuml==0.27
#sphinxcontrib-qthelp==1.0.7
#sphinxcontrib-serializinghtml==1.1.10
#
#breathe==4.35.0
#myst-nb==1.0.0
#nbclient>=0.2,<0.10
#docutils>=0.14,<0.21
