# Requirements building
swig==4.3.0 # Must agree with python/pyproject.toml
cmake==3.31.4 # Must agree with python/pyproject.toml
wheel==0.45.1 # Must agree with python/pyproject.toml

# Note, the setuptools==75.8.2 is the highest supported version in the Windows wheel
setuptools==75.8.2 # Must agree with python/pyproject.toml
