# Optional requirements - used by various plugins or additional features like mappings

# RDF
rdflib>=4.2.1,<8
#tripper>=0.2.16,<0.3.1
tripper @ git+https://github.com/EMMC-ASBL/tripper.git@master
pint>=0.15,<1

# Plugins
PyYAML>=5.4.1,<7
pandas>=1.2,<2.3
pyarrow>=14.0,<19.0
tables>=3.8,<5.0
openpyxl>=3.0.9,<3.2
jinja2>=3.0,<4
paramiko>=3.0.0,<3.5.1
requests>=2.10,<3
redis>=5.0,<6
minio>=6.0,<8
pymongo>=4.4.0,<5
#psycopg2>=2,<3

# Utilities
# Bug in pydantic 2.10.1, see https://github.com/pydantic/pydantic/issues/9898
pydantic>=1.10.0,!=2.10.1,<2.10.2
typing_extensions>=4.1,<5
fortran-language-server>=1.12.0,<1.13

# For TEM demo
##matplotlib>=3,<4
##scikit-image>=0.19,<1
##ncempy>=1.10,<2
##h5py>=3.9,<4
#oteapi-dlite>=0.1.5,<1
#git+https://github.com/EMMC-ASBL/oteapi-dlite.git@fa1b820383eb54a1c37f32f7b8ac9406b556dace#egg=oteapi_dlite
#otelib>=0.3.2,<1

# Entities-service, doesn't install properly
#git+https://github.com/SINTEF/entities-service.git#egg=project[cli]
#git+https://github.com/SINTEF/entities-service.git
