{% block title %}{{ title }}
{{ "="*len(title) }}{% endblock %}
{% block description %}{% endblock %}
{% block doxygenfile %}
.. doxygenfile:: {{ doxyfile }}
   :project: dlite{% endblock %}
{% block footnote %}.. Generated with with `respirator` {% endblock %}
