tripper==0.2.14
pint>=0.15,<1

oteapi-core>=0.6.1,<1
#oteapi-dlite>0.1.6,<1  # update once after migrating to pydantic v2
oteapi-dlite @ git+https://github.com/EMMC-ASBL/oteapi-dlite.git@master
DLite-Python>=0.5.1,<1
otelib>=0.4.1,<1
