name: CI tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2
      with:
        python-version: '3.7'
        architecture: 'x64'

    - name: Update submodules
      run: |
        git submodule init
        git submodule update
    - name: Get Cmake version
      run: |
        cmake --version
    - name: Install dependencies
      run: |
        sudo apt-get install libjansson-dev
        sudo apt-get install libhdf5-dev
        sudo apt-get install swig3.0
        sudo apt-get install doxygen
        sudo apt-get install graphviz
    - name: Install Python dependencies
      run: |
        pip3 install setuptools
        pip3 install numpy
        pip3 install PyYAML
        pip3 install psycopg2
    - name: check numpy
      run: |
        which python3
        python3 --version
        pip3 --version
        python3 -c 'import numpy as np; print(np.get_include())'
    - name: configure
      run: |
        mkdir build
        cd build
        Python3_ROOT=$(python3 -c 'import sys; print(sys.exec_prefix)') cmake ..
        cd -
    - name: make
      run: |
        cd build
        make
        cd -
    - name: make test
      run: |
        cd build
        make test
        cd -
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./build/doc/html
