name: CI tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    #- uses: actions/setup-python@v2
    #  with:
    #    python-version: '3.7'
    #    architecture: 'x64'

    - name: Update submodules
      run: |
        git submodule init
        git submodule update
    - name: Get Cmake version
      run: |
        cmake --version
    - name: Install dependencies
      run: |
        sudo apt-get update --fix-missing
        #sudo apt-get install libjansson-dev
        #sudo apt-get install libhdf5-dev
        #sudo apt-get install swig3.0
        #sudo apt-get install doxygen
        #sudo apt-get install graphviz
        #sudo apt-get install python3
        #sudo apt-get install python3-dev
        #sudo apt-get install python3-numpy
        sudo apt-get install \
          libjansson-dev \
          libhdf5-dev \
          swig3.0 \
          doxygen \
          graphviz \
          python3 \
          python3-pip \
          python3-dev \
          python3-numpy \
          python3-yaml \
          python3-psycopg2
    - name: Install Python dependencies
      run: |
        pip install --upgrade pip
        pip install fortran-language-server
        #pip3 install setuptools
        #pip3 install numpy
        #pip3 install PyYAML
        #pip3 install psycopg2
    - name: check numpy
      run: |
        which python3
        python3 --version
        pip3 --version
        python3 -c 'import numpy as np; print(np.get_include())'
    - name: configure
      run: |
        mkdir build
        cd build
        Python3_ROOT=$(python3 -c 'import sys; print(sys.exec_prefix)') \
          CFLAGS='-Wno-missing-field-initializers' \
          cmake .. -DFORCE_EXAMPLES=ON
        cd -
    - name: make
      run: |
        cd build
        make
        cd -
    - name: install
      run: |
        cd build
        make install
        cd -
    - name: make test
      run: |
        cd build
        ctest
        cd -
